network --activate --onboot=yes --device={{ item.network.mac }}{{ ' --vlanid=' + item.network.vlan|string if item.network.vlan is defined else '' }} {{ '--bootproto=static --ip=' + item.network.ip + ' --netmask=' + item.network.netmask + ' --gateway=' + item.network.gateway + ' --nameserver=' + item.network.nameserver|join(',') if item.network.mode == 'static' else '--bootproto=dhcp' }} --noipv6
